h1 a {
	color: white;
	font-family: "Courier New";
}

body {

    background-color: #9f00a7;

}

.page-header {
background-color: #ff9400;
margin-top: 0;
padding: 20px 20px 20px 40px;
border-style: solid;
border-color: #000000;
}

.post{
	border-style: solid;
}

.well{
	background-color: #2b5797;
	color: white;
}