@charset "utf-8";

div {
	overflow: auto;
}

h1 a {
	color: green;
	font-family: "Courier New";
}

.main_body {
	background-image: url("/static/blog/images/forest.jpg");
}

hr {
 	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: red;
}

.page-header {
	background: #32382b;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
	color: #ffffff;
	font-size: 36pt;
	text-decoration: none;
}

.content {
	background: #87965a;
	border-style: none;
	padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
	margin-right: 40px;
}

h1, h2, h3, h4 {
	font-family: 'Lobster', cursive;
}

.date {
	color: rgb(58, 22, 29);
	background-color: #ffffff;
}

.save {
	float: right;
}

.post-form textarea, .post-form input {
	width: 50%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
color: #ffffff;
float: right;
font-size: 26pt;
margin-right: 20px;
}

.post{
	
	
}

.post h1 a, .post h1 a:visited {
	color: :#000000;
}

.container-fuild h2 {
	color: blue; 
}

.well{
	color: white;
	background-color: #343730;
	border-left: 10px solid rgb(154, 216, 11);
	margin-bottom: 5px;
}

.jumbotron {
	border-style: inset;
}

.btn{
	background-color: rgb(245, 239, 161);
}

.img-circle{
	width: 120px;
	float: left;
}

.footer{
	background-color: #004d33;;
	color: white;
	margin-top: 0px;
}

.pic{
	width: 100%;
	height:50%;
	float: ;

}
.col-sm-9{
	float: right;
}

.form-group{
	background-color: lightblue;
}




#myHeader{
	background-color: ;
	width: 40%;
}