{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}

<div class="post">
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.tittle }}</a></h1>
	  <p>{{ post.text|linebreaksbr }}</p>

  <div class="date well well-sm">
    <p><b>Published</b>: <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-time"></span> 
    </button> {{ post.published_date }}</p>
  </div>
</div>

<hr>

{% endfor %}
{% endblock %}



{% block aside %}
 <form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> 

{% endblock %}