{% load staticfiles %}
<html>

<head>
<title>Xpaza's blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'blog/css/css/bootstrap.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="page-header">
<!--img src="{% static "blog/images/car.jpg" %}" class="img-rounded"-->
<h1><a href="">Xpaza's Blog</a></h1>
</div>


<div class="row">
	<div class="col-lg-9">
<div class="post">
{% for post in posts %}
<div class="well">
	<h1><a href=""> {{ post.tittle }} </a></h1>
	<p>Published date: {{ post.published_date }}</p>
	<p><{{ post.text|linebreaksbr }}</p>
</div>


{% endfor %}
</div>
	</div>

	 <div class="col-lg-3">
	 	<div class="jumbotron">
	 		 <p>Hello World</p>
	 	</div>
	 	
	 </div>
</div>


 <form>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form> 

</body>

</html>