{% load staticfiles %}
<html>

<head>
<title>Xpaza's blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'blog/css/css/bootstrap.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="page-header">
<!--img src="{% static "blog/images/car.jpg" %}" class="img-rounded"-->
<h1><a href="">Xpaza's Blog</a></h1>
</div>


<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			{% for post in posts %}
			<div class="post well">
				<div class="date">
					<p><b>Published</b>: <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-time"></span> 
        </button> {{ post.published_date }}</p>
				</div>
				<h1><a href="">{{ post.tittle }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

</div>

 

</body>

</html>